.new-tweet{
  padding: 1.5em;
}

.new-tweet button {
  background-color: #4056A1;
  font-family: Bungee, sans-serif;
  color: #FFFFFF;
  
}

.new-tweet textarea {
  width: 100%;
  outline: none;
  border: hidden;
  border-bottom: 4px solid rgb(55, 54, 54);
  background-color: #f4f1ec;
  padding: 5px;
  height: 45px;
  margin-bottom: 10px;
}

.tweetinput::placeholder{
  font-weight: 700;
}


.counter {
  font-family: Bungee, sans-serif;
  float: right;
  color: #545149;
}


